<% if (typeof msg !== 'undefined' && msg.length > 0) { %>
<div class="alert alert-success" role="alert"><%= msg %></div>
<% } %> <% if (typeof error !== 'undefined' && error.length > 0) { %>
<div class="alert alert-danger" role="alert"><%= error %></div>
<% } %>
